*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    letter-spacing: 2px;
    outline: none;
    
}
form{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#162C5F,#7C90AD);
}

.clientConnexion{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clientConnexion  .icon {
     /* height: 100px;
    width: 100px;
    margin: 20px; 
    border-radius: 100%; 
     background-color: rgba(255, 255, 255, 0.575); 
    font-size: 50px;
    z-index: 6; */
}

.clientConnexion .form{
     display: grid;
     grid-template-columns: 300px;
     grid-template-rows: repeat(auto , 50px);
     gap: 10px;
     padding: 40px;
    border-radius: 20px;
    width: min-content;
    background-color: rgba(255, 255, 255, 0.559);
}


.clientConnexion span:hover{
    cursor: pointer;
}

.clientConnexion .choix{
    width:auto;
    display: flex;
    justify-content: space-around;
}
.clientConnexion .choix span {
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    color: white;
    }

.soulign{
    text-decoration: underline;
}

.clientConnexion input{
    color: white;
    padding: 3px 10px;
    height: 35px;
    margin: 10px 0px;
    border: solid black 1px;
    border-radius: 7px;
    width: 100%;
    background-color: #192c49;
}

.clientConnexion input[type="submit"]{
    width: min-content;
    transition: all 0.4s;
}

.clientConnexion input[type="submit"]:hover{
    cursor: pointer;
    background-color: #fff;
    color: #162C5F;
    transform: scale(1.1);
}

.clientConnexion .btn{
    display: flex;
    justify-content: center;
}