*{
    margin: 0;
    padding: 0;
   
}

#text3{
  margin-top: 130px;
  /* position: absolute; */
  margin-left: 540px;
  color: white;
  width: 500px;
  font-size: 30px;
}
.champs{
    position: absolute;
     margin-left: 800px;
    margin-top: 130px; 
 
}


.bon{
    display: flex;
    
  
}
#email{
   width: 400px;
   height: 50px;
   border: solid #fff 2px;
   background: transparent;
   color: #fff;
}

#text{
    width: 400px;
    height: 50px;
    border: solid #fff 2px;
    background: transparent;
    color: #fff;
}

#btn1{
    width: 200px;
    height: 40px;
    padding-left: 65px;
    background-color:#dd1b3c;
    color: white;
    border: none;
   
}

#btn1:hover{
    font-weight: bold;
    transform: scale(1.1);
    cursor: pointer;
    background: #dd1b3c;

}


@media (max-width:600px){
    .champs{
        position: absolute;
        margin-left: 520px;
        margin-top: 320px;
    }

    #email{
        height: 30px;
        width: 400px;
    }
    
    #text{
        height: 30px;
        width: 400px;
    }
    #btn1{
        margin-left: 100px;
    }
    .bon{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:1000px){
  

    #email{
        height: 30px;
        width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #text{
        height: 30px;
        width: 400px;
    }
    #btn1{
        margin-left: 100px;
    }
    .bon{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}
