*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

.Cdashcover .dashTop{
    min-height: 50px;
    position: relative;
    height: 40px;
    width: 100%;
}


.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.Cdashcover{
    float: right;
    background-color: #E5E5E5;
    float: right;
    width:80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.Cdashcover .dash{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.Cdashcover .expeditions , .Cdashcover .livraisons {
    text-align: left;
    width: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    
}

.Cdashcover .expeditions div ,.Cdashcover .livraisons div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #fff;
    height: 150px;
    width: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.603);
    border-radius: 7px;
}

.Cdashcover .bot :nth-child(1) {

    margin: 0px 10px;
}

.Cdashcover .expeditions span ,.Cdashcover .livraisons span {
    margin: 10px;
    letter-spacing: 1px;
}

.Cdashcover .expeditions > span ,.Cdashcover .livraisons > span ,.Cdashcover .bot > div > span {
    font-size: medium;
    font-size: 24px;
}

.Cdashcover button{
    padding: 7px;
    border-radius: 7px;
    background-color: #1C263D;
    color: white;
    transition: all 0.4s;
}

.Cdashcover button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #162C5F;
    transform: scale(1.1);
}

#deconnexion{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight:500;
    width: 110px;
}


.Cdashcover .dashtableau{
    overflow: auto;
    overflow-x: hidden;
    height: 300px;
}


.Cdashcover table{
    table-layout: fixed;
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
    text-align: left;
    box-shadow: 0.1px 0.1px 5px black;
    border-radius: 10px;
}

.Cdashcover tr{
    height: 30px;
}

.Cdashcover tr :nth-child(6){
    width: 10%;
}

.Cdashcover tr :nth-child(5){
    width: 30%;
}

.Cdashcover th{
    height: 40px;
    background-color: rgb(195, 191, 191);
    padding: 3px;
}

.Cdashcover td{
    padding: 3px;
}

.Cdashcover tbody tr:nth-child(even){
    background-color:rgba(195, 191, 191, 0.362);
}
