*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidemenuC{
    float: left;
    color: #fff;
    width: 20%;
    height: 712px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1C263D;
}

.sidemenuC .imgProfile{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    border:  2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidemenuC .topA{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.sidemenuC .bottomA{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sidemenuC .item{
    border-radius: 7px;
    background-color: #fff;
    color: black;
    width: 250px;
    margin: 7px 0px;
    height: 40px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding:0px 10px;
}

.sidemenuC .item:hover{
    transform: scale(1.1);
}