/*Style de la page Historique*/

.AdminTitle {
    display: block;
    font-weight: bold;
    padding: 10px 0px;
    text-align: center;
}

.table {
    border-collapse: collapse;
    width: 100%;
}


.thA {
    padding: 10px;
    font-weight: normal;
    text-align: center;
}

.TitreHistoryAdmin {
    background-color: #06133a;
    color: white;
    text-align: left;
}