*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.cover{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%
}

 .logo{
     margin: 3px;
     position: absolute;
     /* border:  3px solid black; */
     left : 0px;
     width: 70px;
    font-size: 16px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 ul a {
    color: black;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
}

 .middle{
     /* border: 1px solid black; */
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:  50%;
}

