*{
    margin:0;
    padding: 0;
}

.prop{
    width: 100vw;
    height: 100vh;
  
}
.ph6{
    position: absolute;
    margin-left: 600px;
    width: 550px;
    border: none;
    height: 300px;
    margin-top: 80px;
   float: right;
}

.title{
    margin-left: 300px;
    margin-top: 50px;
    /* position: absolute; */
    width: 300px;
}

.phr{
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* height: 100vh; */
    position: absolute;
    margin-top: 200px;
}

.mypara{
    position: absolute;
    margin-top: 100px;
    margin-left: 50px;
    color: black;
    width:500px;
    height: 300px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: justify;
    font-size: 15px;
    
}

@media (max-width:600px){
    .mypara{
       width: 400px;
       margin-left: 20px;
       margin-top: -10px;
       position: absolute;
       font-size: 13px;
       margin-top: 50px;
    }
    .ph6{
        margin: auto;
        margin-top: 250px;
        width:400px;
        height: 150px;
        margin-left:20px ;
    }
    .title{
        margin-top: -1px;
       
        margin-left: -5px;
    }
    .prop{
        margin-top: 700px;
    }
}