*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

.load{
 color: black;
}

.loading{
    height:  100%;
    width:  100%;
    display: flex;
    align-items: center;
    justify-content: center;
}