.fcontenair{
   
    display: flex;
    justify-content:space-around;
  
}
.footcent{
 position: absolute;
  height: 100vh;
  margin-top: 1500px;
  background: #183549;
  width: 100vw;
}
.foot{
  font-size: 13px;
  margin-top: 50px;
}
.footcontact{
 margin-top: 20px;
 position: absolute;
}
.foottitre{
  text-align: center;
  color: #dd1b3c;
  margin-left: -355px;
}
.one{
  color: #dd1b3c;
}

.foot p{
  color:white;
}

/* .in1{
  border: solid grey 2px; 
  width: 245px;
  height: 30px;
}
.in2{
  border: solid grey 2px; 
  width: 245px;
  margin-left: 10px;
  height: 30px;
} */
.in{
  border: solid grey 2px; 
  width: 500px; 
  margin-top: 10px;
  height: 30px;
}
.textarea1{
  width: 500px;
  height: 150px;
  border: solid grey 2px;
  margin-top: 20px;
}
.inputf{
  margin-left: 350px;
  margin-top: 60px;
}
.fbutton{
  width: 200px;
  height: 40px;
  background: #dd1b3c;
  color: #fff;
  border-radius: 100px;
 margin-left: 480px;
 margin-top: 15px;
}
.mid1{
 
  width: 100vw;
  height: 80px;
  /* margin-left: 880px; */
  margin-top: 500px;
  position: absolute;
  background-color:#000;
 
 }
 #mid{
  width: 25%;
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  color: #fff;
  margin-left: 460px;
  margin-top: 30px;
 }
 .mid1 #mid .f{
  color:#fff
 }
 .mid1 #mid .f:hover{
  color:#dd1b3c
 }
 .mid1 p{
  color:#fff;
  text-align: center;
 }
 
@media (max-width:600px){
  .footcent{
    height: 140vh;
    margin-top: 3300px;
  }
  .fcontenair{
    flex-wrap: wrap;
  }
  .footcontact{
    margin: auto;
    margin-left: -400px;
  }
  .in{
   width: 300px;
  margin-left: 110px;
  }
  .textarea1{
    width: 380px;
    margin-left: 70px;
  }
  .fbutton{
    margin-top: 20px;
  }
  .foottitre{
    margin-left: 50px;
  }
  #mid{
    width: 25%;
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
    margin-left: 160px;
    margin-top: 30px;
   }
   .mid1 #mid .f{
    color:#fff;
   }
   .mid1 #mid .f:hover{
    color:#dd1b3c
   }
   .mid1 p{
    color:#fff;
    text-align: center;
   }
   .mid1{
 
    width: 100vw;
    height: 80px;
    /* margin-left: 880px; */
    margin-top: 600px;
    position: absolute;
    background-color:#000;
   
   }
}