.fcontenair{
    position: absolute;
    height: 491px;
    display: flex;
    justify-content:space-around;
    margin-top: 1500px;
    background: #183549;
    width: 100vw;
}

.foot{
  font-size: 13px;
  margin-top: 50px;
}
.footcontact{
  margin-top: 1590px;
  position: absolute;
  z-index: 8;
}
.foottitre{
  text-align: center;
  color: #dd1b3c;
}
.one{
  color: #dd1b3c;
}

.foot p{
  color:white;
}