/*le style css de la page ajout Mobile*/

.from_NMobile {
    width: 400px;
    height: 300px;
    background-color: white;
    box-shadow: #06133a 0px 0px 40px;
    border-radius: 10px;
}

#Title_NMobile {

    width: 100%;
    height: 30px;

    padding-top: 6px;
    text-align: center;
    color: white;
    background-image: linear-gradient(to right, #06133a, #dbdde5);
    border-radius: 10px 10px 0px 0px;
}

/*les champs de saisi*/


#NouveauMobile {
    margin: auto;
    width: 90%;
}

#NouveauMobile label {
    display: block;
    font-size: .8em;
    margin-left: 10px;
    margin-top: 10px;
    color: #06133a;
}

#NouveauMobile span {
    color: red;
}

.champ_NMobile {
    display: block;
    width: 95%;
    padding: 7px 5px;
    margin: 2px auto;
    border: #06133a solid 1px;
    background-color: #f5f7fb;
    border-radius: 8px;
}

.submit_NMobile {
    width: 50%;
    margin: 25px auto;
    padding: 10px 30px;
    display: block;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 30px;
    background-color: #06133a;
}