*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.agentCover .profilTop{
    position: relative;
    height: 40px;
    width: 100%;
}

.agentCover .deconnexion{
    position: absolute;
    left: 95%;
    top: 50%;
    transform: translate(-50% , -50%);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-weight:500;
    width: 110px;
}

.title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

.img{
    height: 150px;
    width: 150px;
    border: black solid 2px;
    border-radius: 100%;
    background-color: white;
}
.agentCover{
    float: right;
    background-color: #E5E5E5;
    float: right;
    width: 80%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.agentCover .profilContenair{
    background-color: #F1F1F1;
    padding: 30px;
    width: min-content;
    height: 580px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.agentCover .grid{
    display: grid;
    grid-template-columns: repeat(2 , 290px) ;
    grid-template-rows: repeat(5 , 50px);
    gap: 5px;
    grid-template-areas: 
    "a b"
    "c d"
    "e f"
    "g g"
    "h h"
    ;
}

.agentCover .it{
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5px;
}
.agentCover #change ,.agentCover #edit {
    display: flex;
    justify-content: center;
    align-items: center;  
}

.agentCover button{
    padding: 7px;
    border-radius: 7px;
    background-color: #1C263D;
    color: white;
    transition: all 0.4s;
}

.agentCover button:hover{
    cursor: pointer;
    background-color: #fff;
    color: #162C5F;
    transform: scale(1.1);
}

.agentCover .userName{
    grid-area: a;
}

.agentCover .firstName{
    grid-area: c;
}

.agentCover .lastName{
    grid-area: e;
}

.agentCover .email{
    grid-area: b;
}

.agentCover .ville{
    grid-area: d;
}

.agentCover .pays{
    grid-area: f;
}

.agentCover #change{
    grid-area: g;
}

.agentCover #edit{
    grid-area: h;
}