*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.sidemenuA{
    float: left;
    color: #fff;
    width: 20%;
    height: 712px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #1C263D;
}

.imgProfile{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    background-color: #fff;
}

.topA{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    height: 250px;
}

.bottomA{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
}

.menu{
    border-radius: 7px;
    background-color: #fff;
    color: black;
    width: 250px;
    margin: 7px 0px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu:hover{
    transform: scale(1.1);
}
