*{
    border: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

.accueilTop{
    display: flex;
    justify-content: center;
    align-items: center;
}
.accueilTop h1{
    color: white;
    font-size: 48px;
    text-align: center;
    font-weight: 700;
    line-height: 50px;
    z-index: 4;
    width: 85%;
}
.accueilMid h4 , .accueilBottom h4{
    text-align: center;
    font-size: 24px;
    font-weight:300;
    line-height: 29px;
    margin-top: 10px;
}
.accueilMid  h3{
    font-size: 32px;
    font-weight: 600;
    line-height: 38px;
}

.accueilButton{
   height:  50px;
   width: 200px;
   font-size: 16px;
   font-weight: 600;
   line-height: 20px;
   border: solid white 2px;
   color: white;
   z-index: 4;
   border-radius: 7px;
   display: flex;
   justify-content: center;
   align-items: center;
   transition:  all 0.4s;
   }

.accueilButton:hover{
    background-color: rgba(255, 255, 255, 0.619);
    border: white solid 2px;
    color: black;
}

.Pacover{
    width: 100vw;
    height: 900px;
    position: absolute;
    overflow-x: hidden;
    top: 70px;
    left: 0px;
    z-index: 3;
    background-color:rgba(22,45,95,0.5);
}


.accueilTop{
    position: relative;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-image: url('../../../public/images/accueil.jpg.jpg');
    background-position: 50% , 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

.accueilMid{
    height: 468px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.accueilBottom{
    color: aliceblue;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 24px;
    height: 177px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #162C5F;
}
.categories{
    height: 280px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.accueilItem{
    width: 445px;
    height: 280px;
    background-color: #c4c4c4a1;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}


