.fcont{
    position: absolute;
    height: 250px;
    display: flex;
    justify-content:space-around;
    margin-top: 1500px;
    background: #183549;
    width: 100vw;
}

.foot2{
  font-size: 13px;
  margin-top: 70px;
}
.foot2 h2{
    color: #dd1b3c;
}
.foot2 p{
  color:#fff;
}
